
<html>
<head>
	<title>Taskbook</title>	
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/taskbook2.css" rel="stylesheet">
  <link href="/css/datepicker.css" rel="stylesheet">
	<script src="/js/jquery.js" type="text/javascript"></script>
	<!--script src="/routes/jquery.js" type="text/javascript"></script>-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        

</head>

<body>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="logo">  <img class ="logotext" src="/images/taskbook.png"></img> </div>
  <div class="container" style="text-align: center">
    <!-- Old Button<button type="button" class="btn btn-default navbar-btn fleft" ><span class="glyphicon glyphicon-th-large"></span> </button>-->
    <div class="btn-group fleft buttoncenter">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-th-large"></span> 
        </button>
        <ul class="dropdown-menu">
          <li role="presentation" class="dropdown-header">My Groups</li>
          <div id="addgrouparea">
          {{#each groups}}
          <li><a href="/groups/{{id}}">{{name}}</a>
          </li>
          {{/each}}
          </div>
           <li role="presentation" class="divider"></li>
        <li id="addGroupButton"><a href="#">Create New Group</a></li>
      
        </ul>
    </div>
    </div>

     <!--<div class="btn-group fright buttoncenter ">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span> 
        </button>
        <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;">

          <li role="presentation" class="dropdown-header">Notifications</li>
          <li role="presentation" class="divider"></li>
          {{#each announcements}}
          <li role="presentation" class="dropdown-header">{{type}}     <span class="glyphicon glyphicon-remove"></span></li>
           <li><a href="/groups/{{name}}">{{name}}</a></li>
           <li role="presentation" class="divider"></li>
          {{/each}}
          <li><a href="/groups/{{name}}">View More</a></li>
        </ul>
      </div>
    </div>-->

     <div class="btn-group fright buttoncenter">
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;">
          <li role="presentation" class="dropdown-header">Settings</li>
          <li><a href="#">{{name}}</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">Karen Wu</li>
          <li><a href="#" id="profilebutton">Edit Profile</a></li>
          <li onclick="logout()"><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  
    

  </div>
</nav>

<!--<div id="editprofile" class="alert alert-info" style="display:none">
      <strong>Edit Profile</strong> Better check yourself, you're not looking too good.<br>
      <button type="button" class="default">Add</button>
      <button type="button" class="default">Cancel</button>
</div>-->


<h2 class="groupTitleText">{{projectName}}</h2>
<div class="groupTitle">
  <!--<button type="button" class="btn btn-default navbar-btn fleft pin" ><span class="glyphicon glyphicon-pushpin"></span> </button>
  <button type="button" class="btn btn-default navbar-btn fleft pin" ><span class="glyphicon glyphicon-sort"></span> </button>
  <button type="button" class="btn btn-default navbar-btn fright pin" ><span class="glyphicon glyphicon-pencil"></span> </button>-->

<div class="btn-group fright buttoncenter">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle groupBtn" data-toggle="dropdown"><span class="glyphicon glyphicon-filter groupBtnIcon"></span> </button>
    <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;">
      <li role="presentation" class="dropdown-header">Filters</li>
      <!--li><a href="#" onClick="filterTasks('.ready')">Ready</a></li>
      <li><a href="#" onClick="filterTasks('.needsoon')">Need Soon</a></li>
      <li><a href="#" onClick="filterTasks('.urgent')">Urgent</a></li-->
      {{#each filters}}
      <li>{{name}}</li>
      {{/each}}
      <li role="presentation" class="divider"></li>
      <li><a href="#" onClick="newFilter()">New Filter</a></li>
    </ul>
  </div>
</div>
   

       <div class="btn-group fright buttoncenter">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle groupBtn" data-toggle="dropdown"><span class="glyphicon glyphicon-sort groupBtnIcon"></span> </button>
        <!--No dropdown here, just do popup with members-->
                <ul class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;">
          <li role="presentation" class="dropdown-header">Sort By</li>
          <li onclick="sortTasks('None')"><a href="#" id="non">None</a></li>
           <li onclick="sortTasks('Alphabetical')"><a href="#" id="alpha">Alphabetical</a></li>
          <li role="presentation" class="divider"></li>
          <li><a href="#">Customize Sort</a></li>
        </ul>
      </div>
    </div>
   <!--  <div class="btn-group fleft buttoncenter">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle groupBtn" data-toggle="dropdown"><span class="glyphicon glyphicon-pushpin groupBtnIcon"></span> </button>
      </div>
    </div>-->
     <div class="btn-group fleft buttoncenter">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle groupBtn" onclick="toggleEditGroup('editgroup', 'groupnamefield','{{projectName}}')"><span class="glyphicon glyphicon-pencil groupBtnIcon"></span> </button>
      </div>
    </div>
</div>



<div id="editgroup"  class="alert alert-info hover" style:"overflow-y:scroll">
      <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
      <strong><h1 id="groupnamefield" onClick="editGroupName('{{projectName}}')"></h1></strong><br>
      <textarea class="editGroupHeader" id="editgroupname"></textarea> 
      <div class="panel-default">
      <div class="membercontainer panel-heading"><strong>Members</strong>
        {{#each contacts}}
        <li class="list-group-item">{{name}}</li>
        {{/each}}
      </div>
    </div>
 
    <div id="addMember" onClick="addmemberareafunction()" class="panel-footer addMemberPanel" style="text-align:right">
    Add Member</div>
  <form action="" id="addmemberinputform" class="addmemberinputform" onsubmit="return false;"> 
    <input id="addmemberinput" class="addmemberinput" type="text" name="fname" >
    <input type="submit" value="Submit" onSubmit="return false;" id="addmembersubmit">
  </form>
      <button type="button" class="default" onClick="hideForm('editgroup')">Save</button>
      <button type="button" class="default" onClick="hideForm('editgroup')">Cancel</button>
    </div>

<div id="newFilter"  class="alert alert-info hover">
        <strong><h1>New Filter</h1></strong>
        <br>
        <form>
          <input id="filterName" type="text" placeholder="Name"><br><br>
          <input id="dueDate" type="text" placeholder="due date : mm/dd/yyyy"><br><br>
          Due in <input id="xDays" type="text" class="xdays">days<br><br>
          <!--input id="dp" type="text" placeholder="Due Date dd/mm/yy"><br><br-->
          <strong>Priority:</strong><select id = "priority_" name="priority">
            <option>None</option>
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
          </select>
        </form>
        <button type="button" class="default" onClick="saveFilter()"> Save </button>
        <button type="button" class="default" onClick="cancelFilter()"> Cancel </button>

</div>

<div id="editTask"  class="alert alert-info hover">
<strong><h1>Task</h1></strong>
<br>
<form>
<strong>Title:&nbsp;&nbsp;&nbsp;</strong><input id="taskTitle" type="text"><br><br>
<strong>Description:&nbsp;&nbsp;&nbsp;</strong><input id="taskDescription" type="text"><br><br>
<strong>Assigned To:&nbsp;</strong><input id="taskAssignedTo" type="text">
  <br><br>
<!--<strong>Due Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><input id="taskDueDate" type="text">
  <br><br>-->
  <strong>Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><select name="taskStatus" id="taskStatus">
            <option value="false">Not Complete</option>
            <option value="true">Complete</option>
            </select><br><br>
  <strong>Priority:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><select name="taskPriority" id="taskPriority">
            <option value="0">None</option>
            <option value="3">High</option>
            <option value="2">Medium</option>
            <option value="1">Low</option>
          </select>
</form>
<strong>Due Date:</strong>
<input type="text" class="datepicker" placeholder="Click me!"><br><br><br>
  <button type="button" class="default" onClick="saveEditTask()"> Save </button>
  <button type="button" class="default" onClick="cancelEditTask()"> Cancel </button>
</div>


<div id="editProfile"  class="alert alert-info hover">
<strong><h1>Profile</h1></strong>
<br>
<form id="profileForm">
  <div id="profilediv">
    <strong>Name:</strong><input id="username" type="text" value="Karen Wu">
  <br><br>
    <strong>Password:</strong><input id="userpassword" type="text" value="********">
  <br><br>
    <strong>E-Mail:</strong><input id="useremail" type="text" value="aznkarebear@gmail.com">
  </div>
  <br><br>
</form>
  <button type="button" class="default" onClick="saveEditProfile()"> Save </button>
  <button type="button" class="default" onClick="cancelEditProfile()"> Cancel </button>
</div>

<div id="addGroup"  class="alert alert-info hover">
<strong><h1>Add Group</h1></strong>
<br>
<form id="groupForm">
  <div id="groupdiv">
    <strong>Name:</strong><input id="groupname" type="text" value="Group Name">
  </div>
  <br><br>
</form>
  <button type="button" class="default" onClick="AddGroup()"> Add Group </button>
  <button type="button" class="default" onClick="CancelAddGroup()"> Cancel </button>
</div>


<!--<form id="verifyDelList" class="alert alert-info hover">
  <button type="button" class="default"> Yes </button>
  <button type="button" class="default"> No </button>
</form>-->

<div id="grouplists" class="list hover">
{{#each lists}}
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>{{name}}</strong>
    <img src="/images/window-close.png" class="deleteList" onClick="showDeleteList('{{id}}','{{name}}')"></img>
  </div>
   <ul class="list-group">
  <div id="list{{id}}" class="listsoftasks">

  {{#each tasks}}
  <!--<div class="panel-body {{filters}}">{{name}}</div>-->
  <!--<li onClick="editTaskFunction({{../id}},{{id}})" class="list-group-item" id="task{{id}}">{{name}} </li>-->
 <li onClick="editTaskFunction('{{../id}}','{{id}}')" class="list-group-item {{filters}}" id="task{{id}}">{{name}} <span class="glyphicon glyphicon-fire" style="display:none"></span> </li>
  {{/each}}
  </div>
  </ul>
  <!--<div onclick="" id="add-{{id}}"class="panel-footer"style="text-align:right">Add Task</div>-->
   <div id="addlisttasksarea{{id}}" onclick="addgrouplistsareafunction('{{id}}')" style="width:inherit, height:inherit;">
  <div id="addtasktext{{id}}" class="panel-footer" style="text-align:right">
    Add Task   </div>
    </div>
     <form action="" id="addtaskinputform{{id}}" class="addtaskinputform" onsubmit="return false;"> <input id="addtaskinput{{id}}" class="addtaskinput" type="text" name="fname" >
  <input type="submit" value="Submit"   onclick="addlisttaskssubmit('{{id}}');return false;" id="addlisttasksubmit{{id}}">
</form>

  
  
    <!-- on click add code
  <a href="#" onclick="">
  <div id="add-{{name}}"class="panel-footer {{filters}}"style="text-align:right">Add Task</div>
  </a>
    -->


</div>

{{/each}}



</div>
<div id="addgrouplists" class="panel panel-default" onclick="">
  <div id="addgrouplistsarea">
  <div id="addlisttext" class="panel-body">
    Add List   </div>
    </div>
     <form action="" id="addlistinputform"> <input id="addlistinput" class="addlistinput" type="text" name="fname" >
  <input type="submit" value="Submit" onclick="return false;" id="addgrouptlistssubmit">
</form>
  
    <!-- on click add code
  <a href="#" onclick="">
  <div id="add-{{name}}"class="panel-footer {{filters}}"style="text-align:right">Add Task</div>
  </a>
    -->
</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/taskbook.js"></script>


</body>
</html>

